extends layout

block content
  h1= title
  
  div(class='allMessages')
    each val in messages
      ul(class='message')   
        li #{val.text}  
        li #{val.user}
        li #{val.added}

  button(type='button' id='createMessage') 
      a(href='/new') Create Message

